<div class="container">
  <div class="text-center">
  <% if current_user.coiffeur.blank? %>
    <h2 class="my-4">Client : <%= current_user.name %></h2>
     <table class="table mx-auto my-4">
      <thead>
        <tr>
          <th scope="col">Coiffeur name</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking|  %>
          <tr>
            <td><%= booking.coiffeur.user.name %></td>
            <td><%= booking.status %></td>
            <td class="text-left"><%= booking.start %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2 class="my-4">Coiffeur : <%= current_user.name %></h2>
     <table class="table mx-auto my-4">
      <thead>
        <tr>
          <th scope="col">Client</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings_coiffeur.each do |booking| %>
          <tr>
            <td><%= booking.client.user.name %></td>
            <td><%= booking.status %></td>
            <td class="text-left"><%= booking.start %></td>
            <td class="text-left">
            <% if booking.status == "pending" %>
              <div class="d-flex" >
                <form action="/accept" method="post">
                  <input type="hidden" name="id" value="<%= booking.id %>">
                  <input type="submit" value="Accept">
                </form>
                <form action="/reject"  method="post">
                  <input type="hidden" name="id" value="<%= booking.id %>">
                  <input type="submit" value="Reject">
                </form>
              </div>
              <% else %>
                <%= booking.status %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  </div>
</div>
