

<h1>Bookings</h1>
<div class="card">
   <span></span>
  <p class="heading">
    Popular this month
  </p>
  <p>
    Powered By
  </p>
  <p>Uiverse
</p></div>
  <div class="d-flex">
    <% @bookings.each do |booking|  %>
      <p><%= booking.id %></p>
      <p><%= booking.status %></p>
      <p>client : <%= booking.client.user.name %></p>
      <p>coiffeur : <%= booking.coiffeur.user.name %></p>
      <p><%= booking.id %></p>
    <% end  %>

  </div>
