
    <h1>Barber Details</h1>
  <div class="show-page">
    <div  id="barber-details" class="left-div">
      <!-- Display detailed information about the selected barber -->
      <img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1706183059/barber_iilmub.png" with="100px" height="100px" alt="Barber Image">
      <h2>Barber: <%= @coiffeur.user.name %></h2>
      <p>Specialty: Haircuts, Beard Trims</p>
      <p>Experience: 5 years</p>
      <!-- Add more details as needed -->
    </div>
    <!-- Content for the show page goes here -->
    <div class="right-div">
      <%= simple_form_for(@booking) do |f| %>
        <%= f.input :start %>
        <%= f.input :end %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
