


        <section class = "banner">
            <h2>BOOK YOUR BARBER</h2>
            <div class = "card-container">
                <div class = "card-img">
                  <h2>Barber: <%= @coiffeur.user.name %></h2>
                  <%= image_tag @coiffeur.imagelink %>
                  <p>jgjhjhgjg</p>

                </div>

                <div class = "card-content">
                    <h3>Reservation</h3>
                    <%= simple_form_for(@booking) do |f| %>
                      <%= f.input :start,
                          as: :string,
                          input_html: { data: { controller: "datepicker" } } %>
                      <%= f.input :coiffeur_id, as: :hidden, input_html: {value: @coiffeur.id} %>
                      <%= f.submit %>
                    <% end %>
                </div>
            </div>
        </section>
