<div class="show-page">
  <div  id="barber-details" class="left-div">
    <!-- Display detailed information about the selected barber -->
    <img src="https://res.cloudinary.com/ddxcxbk0w/image/upload/v1706183059/barber_iilmub.png" with="100px" height="100px" alt="Barber Image">
    <h2>Barber: <%= @coiffeur.user.name %></h2>
    <p>Specialty: Haircuts, Beard Trims</p>
    <p>Experience: 5 years</p>
    <!-- Add more details as needed -->
  </div>
  <!-- Content for the show page goes here -->
  <div class="right-div">
    <%= simple_form_for(@booking) do |f| %>
      <%= f.input :start,
          as: :string,
          input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :coiffeur_id, as: :hidden, input_html: {value: @coiffeur.id} %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
